@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@utility container{
  margin-inline:auto;
  max-width:1320px ;
}

@theme{
  --color-brandColor:#A53DFF;

  --font-poppins: "Poppins", sans-serif;
  --font-work:"Work Sans", sans-serif;
}

body{
    font-family: "Work Sans", sans-serif;
}
.slick-dots{
  display: flex !important;
  justify-content: center;
}
.slick-dots li button {
  font-size: 0;
  width: 5px;
  height: 5px;
  background: rgb(197, 197, 197);
  border-radius: 50%;
}
